node-red/absolute-and-gauge-pressure-temp-ncd-dashboard.json
[{"id":"342a57a3a95bc755","type":"subflow","name":"Pressure & Temp.","info":"","category":"NCD","in":[{"x":80,"y":740,"wires":[{"id":"818627f48ba5677f"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"@flowfuse/node-red-dashboard/ui-gauge.svg","status":{"x":1760,"y":540,"wires":[{"id":"d6529dd9e450f132","port":0},{"id":"0adeedadc249b4e6","port":0},{"id":"b84ec1396895f3cd","port":0}]}},{"id":"ae6e3d899a78b559","type":"link out","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link out 97","mode":"link","links":["c12969133d8ab215","274877d759fab6a9","a7f8cc2c571e2dd3"],"x":2405,"y":900,"wires":[]},{"id":"d8bb10a453ebb290","type":"link out","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link out 98","mode":"link","links":["08cf73ee2cbae954","c12969133d8ab215","9f53ca084599a39f","e0c0d068010b4d67","274877d759fab6a9","f2b8c705e0fe7c75","a7f8cc2c571e2dd3","22ea6bac4f2e1a42"],"x":2345,"y":740,"wires":[]},{"id":"e81bdd7750c594e2","type":"link out","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"toGraphs","mode":"link","links":["e0c0d068010b4d67","08cf73ee2cbae954","f2b8c705e0fe7c75","22ea6bac4f2e1a42"],"x":2545,"y":980,"wires":[]},{"id":"af5203da0b98cde8","type":"file in","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1915,"y":940,"wires":[["bf18b5b148a83a9e"]],"l":false},{"id":"bf18b5b148a83a9e","type":"csv","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1975,"y":940,"wires":[["b55cfab0eff269bc"]],"l":false},{"id":"6674340e3d149d4b","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":760,"wires":[["130a4d60a78e56f0"]]},{"id":"2d5b40cbef228d82","type":"csv","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1455,"y":720,"wires":[["c507e6b4de4cf3b4"]],"l":false},{"id":"c507e6b4de4cf3b4","type":"file","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1505,"y":720,"wires":[["8bf794c2f820f8a4","b84ec1396895f3cd"]],"l":false},{"id":"8bf794c2f820f8a4","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = context.get(\"ptcountMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"ptMAC[\"+index+\"]\"); // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"ptMAC[\"+count+\"]\", newMAC); // Save array [MAC, TYPE]\ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \ncontext.set(\"ptcountMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":740,"wires":[["11109968b3f3f5f8","08c6506318d2bc58"]]},{"id":"11109968b3f3f5f8","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"ptMAC[\"+index+\"]\");\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":760,"wires":[["4e838bad23c0df73","1b61f34b9e796e9b"]]},{"id":"7164a11548146996","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1020,"wires":[["8a6731744e89ef1c"]]},{"id":"1b61f34b9e796e9b","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"ptmacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2160,"y":760,"wires":[["c910096b2164a34b"]]},{"id":"c8e56db25b05097d","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":980,"wires":[["8f32cd82df956c50"]]},{"id":"8f32cd82df956c50","type":"json","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"json object","property":"payload.data","action":"","pretty":false,"x":2355,"y":980,"wires":[["743a12b3eee74f01"]],"l":false},{"id":"743a12b3eee74f01","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2450,"y":980,"wires":[["e81bdd7750c594e2"]]},{"id":"130a4d60a78e56f0","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1000,"y":760,"wires":[["0adeedadc249b4e6"],["da01677d8edb9e06"],["a2279ae51a258c46"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"da01677d8edb9e06","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"buildUserFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":760,"wires":[["2d5b40cbef228d82"]]},{"id":"a2279ae51a258c46","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"buildUserFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":800,"wires":[["2d5b40cbef228d82"]]},{"id":"8a6731744e89ef1c","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"win/lin?","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":1020,"wires":[["ba85cf6c86a6df6e"],["72617c4a1731326c"]]},{"id":"ba85cf6c86a6df6e","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":1000,"wires":[["a6f6cf946a96d6cd"]]},{"id":"72617c4a1731326c","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":1040,"wires":[["a6f6cf946a96d6cd"]]},{"id":"6a9ba8e63bde4af0","type":"catch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","scope":["c507e6b4de4cf3b4","af5203da0b98cde8"],"uncaught":false,"x":1515,"y":640,"wires":[["0adeedadc249b4e6"]],"l":false},{"id":"0adeedadc249b4e6","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"function 47","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1585,"y":660,"wires":[[]],"l":false},{"id":"b84ec1396895f3cd","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"function 48","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1585,"y":700,"wires":[[]],"l":false},{"id":"1daa5069eb0b7a1f","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":570,"y":720,"wires":[["b960fc00e948bb22"],["6674340e3d149d4b"]],"outputLabels":["defaultPath","userPath"]},{"id":"2ded9e3529992a0a","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":660,"wires":[["6d6f3e41e24b3bbb"]]},{"id":"df2ca470267c2e94","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":700,"wires":[["78409860ec83082f"]]},{"id":"78409860ec83082f","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":700,"wires":[["08a7f0b38698c736"]]},{"id":"6d6f3e41e24b3bbb","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":660,"wires":[["f84e513ab66e8144"]]},{"id":"b7e7bd18a8dd082f","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":720,"wires":[["1daa5069eb0b7a1f"]]},{"id":"f84e513ab66e8144","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":660,"wires":[["67b93f22d7bda83a"]]},{"id":"6470054c2de0ca24","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":700,"wires":[["2d5b40cbef228d82"]]},{"id":"67b93f22d7bda83a","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":660,"wires":[["2d5b40cbef228d82"]]},{"id":"08a7f0b38698c736","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":700,"wires":[["6470054c2de0ca24"]]},{"id":"fb20a718eb5ebabd","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"userPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":940,"wires":[["3fd511b959b3020b","4df629bad1b6c288"],["7164a11548146996"]]},{"id":"758db3749165fcea","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"userPath&MacSelection","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"ptmacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":940,"wires":[["fb20a718eb5ebabd"]]},{"id":"4df629bad1b6c288","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":880,"wires":[["47f21c83b1864ca6"]]},{"id":"3fd511b959b3020b","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":940,"wires":[["7d07863be7739865"]]},{"id":"7d07863be7739865","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":940,"wires":[["aeaa56ebdcd926a4"]]},{"id":"47f21c83b1864ca6","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":880,"wires":[["9edeae36593329ca"]]},{"id":"4b6e86640a81548c","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":940,"wires":[["af5203da0b98cde8"]]},{"id":"83b2391dacdd8305","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":880,"wires":[["af5203da0b98cde8"]]},{"id":"9edeae36593329ca","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":880,"wires":[["83b2391dacdd8305"]]},{"id":"aeaa56ebdcd926a4","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":940,"wires":[["4b6e86640a81548c"]]},{"id":"b55cfab0eff269bc","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":940,"wires":[["1d679c9bd5f7895e","07011347754964f9"],["c8e56db25b05097d"]]},{"id":"81a8625186ef1c56","type":"catch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","scope":["8f32cd82df956c50"],"uncaught":false,"x":2310,"y":700,"wires":[[]]},{"id":"c910096b2164a34b","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"function 49","func":"let inspect = flow.get(\"ptInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2295,"y":760,"wires":[["d8bb10a453ebb290"],["e628aa86c9290b36"]],"l":false},{"id":"1d679c9bd5f7895e","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":900,"wires":[["ca15e8559deeb341"]]},{"id":"07011347754964f9","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2270,"y":940,"wires":[["bbc763fdb3b39346"]]},{"id":"ca15e8559deeb341","type":"json","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2355,"y":900,"wires":[["ae6e3d899a78b559"]],"l":false},{"id":"818627f48ba5677f","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"26","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":740,"wires":[["b7e7bd18a8dd082f"],["771c4c8768ef74de"]]},{"id":"771c4c8768ef74de","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":760,"wires":[["a934e7d369b97a25"]]},{"id":"a934e7d369b97a25","type":"link out","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link out 99","mode":"link","links":["d6529dd9e450f132"],"x":525,"y":760,"wires":[]},{"id":"d6529dd9e450f132","type":"link in","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link in 124","links":["a934e7d369b97a25"],"x":1585,"y":620,"wires":[[]]},{"id":"3de3852ccd0bc831","type":"link in","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link in 125","links":["00d6596eaa521e45"],"x":445,"y":960,"wires":[["638bec0c88fc9400"]]},{"id":"084229fd6ceef8eb","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"clearInspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":835,"y":980,"wires":[["7f984760231fe3b0"]],"l":false},{"id":"7f984760231fe3b0","type":"link out","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link out 100","mode":"link","links":["e41334a365a3aa32","6f82430ebf62937e","911f71ce8743dbc9","f03642d2e7424509"],"x":885,"y":980,"wires":[]},{"id":"aa3bf7984f0f0665","type":"function","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"inspectCheck","func":"let actualMAC = msg.payload;\nlet lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":940,"wires":[["084229fd6ceef8eb","758db3749165fcea"]]},{"id":"bbc763fdb3b39346","type":"link out","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link out 101","mode":"link","links":["9f53ca084599a39f"],"x":2375,"y":940,"wires":[]},{"id":"455ecf55ab9a89fa","type":"change","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1825,"y":720,"wires":[["c34f15470acf3138"]],"l":false},{"id":"638bec0c88fc9400","type":"ui-dropdown","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","group":"9a70bc053b0aa148","name":"","label":"MAC","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":550,"y":940,"wires":[["aa3bf7984f0f0665"]]},{"id":"c34f15470acf3138","type":"ui-notification","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":1930,"y":720,"wires":[]},{"id":"630a627ef2bb018b","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1100,"wires":[["27632e9cf6a99a45"]],"l":false},{"id":"911f71ce8743dbc9","type":"link in","z":"342a57a3a95bc755","g":"1587f25018147607","name":"link in 126","links":["7f984760231fe3b0","e628aa86c9290b36"],"x":2655,"y":1280,"wires":[["630a627ef2bb018b","f414018cf33dfa8d","850bf592788293fb","75373a8835e16e72","f3aaeda0bfcc9e47","917af6ec641166ed","65a8a181711d9c54","19f404e41885b64d","c5b98a6e60342296","42111ee6dcfb9dda"]]},{"id":"f414018cf33dfa8d","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1140,"wires":[["64e628ebe1b225ae"]],"l":false},{"id":"850bf592788293fb","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1180,"wires":[["26dbbda47cc6cfd4"]],"l":false},{"id":"75373a8835e16e72","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1220,"wires":[["da234376fb60faf6"]],"l":false},{"id":"f3aaeda0bfcc9e47","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1260,"wires":[["5e79e2de13feca83"]],"l":false},{"id":"917af6ec641166ed","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1300,"wires":[["52f575829ee3e502"]],"l":false},{"id":"65a8a181711d9c54","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1340,"wires":[["57be3f4208c2fa5f"]],"l":false},{"id":"19f404e41885b64d","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1380,"wires":[["684f076a853c95e2"]],"l":false},{"id":"c5b98a6e60342296","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1420,"wires":[["1bd1d2bf29628eab"]],"l":false},{"id":"42111ee6dcfb9dda","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2745,"y":1460,"wires":[["bd9ab8613d54fb9b"]],"l":false},{"id":"6f82430ebf62937e","type":"link in","z":"342a57a3a95bc755","g":"1587f25018147607","name":"link in 127","links":["7f984760231fe3b0","e628aa86c9290b36"],"x":3005,"y":1120,"wires":[["886eceacfeb31145","903bc544265fa884"]]},{"id":"814186649a9f4693","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1100,"wires":[["ee81796ebeda380b"]],"l":false},{"id":"45bc406c496a74e1","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1180,"wires":[["ccf0d91b98db76e3"]],"l":false},{"id":"e80f84e642366816","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1220,"wires":[["5ad9520c93b02a6f"]],"l":false},{"id":"8ca1154483df05b6","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1260,"wires":[["a6d773d5ebbcf903"]],"l":false},{"id":"0c695f4f12dc35c5","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1300,"wires":[["a0595c4ba898785e"]],"l":false},{"id":"b512abc9dfc182d4","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1340,"wires":[["7a9b32a4703af617"]],"l":false},{"id":"23e21af1631c4e73","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1420,"wires":[["d3027ee91606b489"]],"l":false},{"id":"e41334a365a3aa32","type":"link in","z":"342a57a3a95bc755","g":"1587f25018147607","name":"link in 128","links":["7f984760231fe3b0","e628aa86c9290b36"],"x":3315,"y":1300,"wires":[["814186649a9f4693","45bc406c496a74e1","e80f84e642366816","8ca1154483df05b6","0c695f4f12dc35c5","b512abc9dfc182d4","76ac905f2e837ef7"]]},{"id":"76ac905f2e837ef7","type":"switch","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3375,"y":1400,"wires":[["7b4e3cdd6df80e55"],["23e21af1631c4e73"]],"l":false},{"id":"7b4e3cdd6df80e55","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":1380,"wires":[["d3027ee91606b489"]],"l":false},{"id":"27632e9cf6a99a45","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2840,"y":1100,"wires":[]},{"id":"64e628ebe1b225ae","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1140,"wires":[]},{"id":"26dbbda47cc6cfd4","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2840,"y":1180,"wires":[]},{"id":"da234376fb60faf6","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1220,"wires":[]},{"id":"5e79e2de13feca83","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2840,"y":1260,"wires":[]},{"id":"52f575829ee3e502","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2850,"y":1300,"wires":[]},{"id":"57be3f4208c2fa5f","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2860,"y":1340,"wires":[]},{"id":"684f076a853c95e2","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2830,"y":1380,"wires":[]},{"id":"1bd1d2bf29628eab","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2840,"y":1420,"wires":[]},{"id":"bd9ab8613d54fb9b","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2840,"y":1460,"wires":[]},{"id":"a837d62824250de6","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"edc5d0113391fca2","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":2830,"y":1060,"wires":[]},{"id":"60dae5dce39a8d36","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"23c56968a392be7b","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3150,"y":1060,"wires":[]},{"id":"fd820fbb19a3881e","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3530,"y":1060,"wires":[]},{"id":"ee81796ebeda380b","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3510,"y":1100,"wires":[]},{"id":"877951630fd90726","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3560,"y":1140,"wires":[]},{"id":"ccf0d91b98db76e3","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":3,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3510,"y":1180,"wires":[]},{"id":"5ad9520c93b02a6f","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3520,"y":1220,"wires":[]},{"id":"a6d773d5ebbcf903","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3510,"y":1260,"wires":[]},{"id":"a0595c4ba898785e","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3530,"y":1300,"wires":[]},{"id":"7a9b32a4703af617","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3510,"y":1340,"wires":[]},{"id":"d3027ee91606b489","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":10,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3560,"y":1420,"wires":[]},{"id":"81bdf325420b6f9a","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"a9133432be824ae8","order":9,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3510,"y":1380,"wires":[]},{"id":"c12969133d8ab215","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 129","links":["d8bb10a453ebb290","ae6e3d899a78b559"],"x":3015,"y":640,"wires":[["fb5ea93389c36812"]]},{"id":"379301eae2d2a8c9","type":"change","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3605,"y":760,"wires":[["2347d7db29fae608"]],"l":false},{"id":"2347d7db29fae608","type":"range","z":"342a57a3a95bc755","g":"6e934d0610ac3921","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3665,"y":720,"wires":[["5fee4208284afe52"]],"l":false},{"id":"9f53ca084599a39f","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 130","links":["bbc763fdb3b39346","d8bb10a453ebb290"],"x":3555,"y":760,"wires":[["379301eae2d2a8c9"]]},{"id":"3c1b95b999c77214","type":"ui-text","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"856d1d781dafa88c","order":1,"width":"0","height":"0","name":"ptTemperatureC","label":"Temperature (°C)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"ptTitlesText","x":3300,"y":600,"wires":[]},{"id":"f2f21ef5d6ee2318","type":"ui-chart","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"f2adcbf1f7f3deb4","name":"vpBatteryChart","label":"","order":2,"chartType":"line","category":"[\"battery\",\"\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"[0].battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"6","showLegend":false,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#025b28","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"4","className":"ptBatteryChart","x":3800,"y":680,"wires":[[]]},{"id":"5fee4208284afe52","type":"ui-template","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"84e640ef86edbf6d","page":"","ui":"","name":"vpBatteryPercent","order":3,"width":"2","height":"4","head":"","format":"<template>\n    <v-progress-circular class=\"ptCircularBatt\" :rotate=\"180\" bg-color=\"#bcebcf\" model-value=\"20\" :size=\"250\" :width=\"25\" color=\"#025b28\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#025b28\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div class=\"ptScaleBatt\">\n                {{ msg.scale }}%\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.ptCircularBatt{\n    font-size: 45px;\n    font-weight: bold !important;\n    /* top: -52px !important; */\n    left: 5px !important;\n}\n.ptScaleBatt{\n    color: #025b28;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3810,"y":720,"wires":[[]]},{"id":"fb5ea93389c36812","type":"change","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3065,"y":640,"wires":[["5d4c711a1037c548"]],"l":false},{"id":"f03642d2e7424509","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 132","links":["7f984760231fe3b0"],"x":3555,"y":640,"wires":[["8a43c9ed319c789a"]]},{"id":"8a43c9ed319c789a","type":"change","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3605,"y":640,"wires":[["776e48f496171d26","f2f21ef5d6ee2318","5fee4208284afe52"]],"l":false},{"id":"08cf73ee2cbae954","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 133","links":["d8bb10a453ebb290","e81bdd7750c594e2"],"x":3555,"y":680,"wires":[["f2f21ef5d6ee2318"]]},{"id":"efbda9080c2f6f9e","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 134","links":["00d6596eaa521e45","776e48f496171d26"],"x":3015,"y":680,"wires":[["cb5d6c97e7426f49","4ed80e8bbf5aeb61"]]},{"id":"88bd0e133982a763","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 136","links":["00d6596eaa521e45"],"x":3555,"y":720,"wires":[["2347d7db29fae608","f2f21ef5d6ee2318"]]},{"id":"cb5d6c97e7426f49","type":"ui-chart","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"856d1d781dafa88c","name":"ptTemperatureCChart","label":"","order":2,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"6","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#025b28","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"2","className":"ptMainCharts","x":3320,"y":720,"wires":[[]]},{"id":"80c1f90eccbbb1f5","type":"ui-text","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"f2adcbf1f7f3deb4","order":1,"width":"10","height":"1","name":"ptBattery","label":"Battery Percent (%)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"ptTitlesText","x":3780,"y":640,"wires":[]},{"id":"e0c0d068010b4d67","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 137","links":["d8bb10a453ebb290"],"x":3015,"y":720,"wires":[["cb5d6c97e7426f49"]]},{"id":"886eceacfeb31145","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3065,"y":1100,"wires":[["7b1acb8c8d3d1bbc"]],"l":false},{"id":"7b1acb8c8d3d1bbc","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"23c56968a392be7b","order":2,"width":"0","height":"0","name":"Pressure","label":"Pressure:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3160,"y":1100,"wires":[]},{"id":"903bc544265fa884","type":"change","z":"342a57a3a95bc755","g":"1587f25018147607","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3065,"y":1140,"wires":[["3367bb834ba30a20"]],"l":false},{"id":"3367bb834ba30a20","type":"ui-text","z":"342a57a3a95bc755","g":"1587f25018147607","group":"23c56968a392be7b","order":3,"width":"0","height":"0","name":"Temperature (°C)","label":"Temperature (°C):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3190,"y":1140,"wires":[]},{"id":"776e48f496171d26","type":"link out","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link out 102","mode":"link","links":["24f947a9d4603823","efbda9080c2f6f9e","5c757cdbff4292e3"],"x":3675,"y":640,"wires":[]},{"id":"08c6506318d2bc58","type":"switch","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1775,"y":720,"wires":[["455ecf55ab9a89fa"]],"l":false},{"id":"e628aa86c9290b36","type":"link out","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","name":"link out 103","mode":"link","links":["911f71ce8743dbc9","6f82430ebf62937e","e41334a365a3aa32"],"x":2345,"y":780,"wires":[]},{"id":"30999c85ec739246","type":"function","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"ptInspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    flow.set(\"ptInspect\", true);\n    unit = {\n        groups: \n        { \n            show: [\n                \"ncd-pressure-temp:pressTempInspect1\",\n                \"ncd-pressure-temp:pressTempInspect2\",\n                \"ncd-pressure-temp:pressTempInspect3\"\n                ],\n            hide: \n            [\n               \"ncd-pressure-temp:ptPressureGroup\",\n               \"ncd-pressure-temp:ptPressureChart\",\n               \"ncd-pressure-temp:ptTemperatureGroup\",\n               \"ncd-pressure-temp:ptTemperatureChart\",\n               \"ncd-pressure-temp:ptTemperatureChartF\",\n               \"ncd-pressure-temp:ptTemperatureGroupF\",\n               \"ncd-pressure-temp:ptBatteryGroup\",\n               \"ncd-pressure-temp:ptBatteryChart\"\n            ],\n            disable: \n            [\n                \"ncd-pressure-temp:pressTempSelectMac\",\n                \"ncd-pressure-temp:pressTempDownload\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"ptInspect\", false);\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-pressure-temp:pressTempInspect1\",\n                \"ncd-pressure-temp:pressTempInspect2\",\n                \"ncd-pressure-temp:pressTempInspect3\"\n            ],\n            show: [\n               \"ncd-pressure-temp:ptPressureGroup\",\n               \"ncd-pressure-temp:ptPressureChart\",\n               \"ncd-pressure-temp:ptTemperatureGroup\",\n               \"ncd-pressure-temp:ptTemperatureChart\",\n               \"ncd-pressure-temp:ptBatteryGroup\",\n               \"ncd-pressure-temp:ptBatteryChart\"\n            ],\n            enable : \n            [\n                \"ncd-pressure-temp:pressTempSelectMac\",\n                \"ncd-pressure-temp:pressTempDownload\"\n            ]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":140,"wires":[["826925a0ae8a36d7"]]},{"id":"22b8a17ac5183a77","type":"ui-template","z":"342a57a3a95bc755","g":"4137eb3917873f87","group":"","page":"05bd0c7c3ec3d021","ui":"","name":"ptInspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"ptInspectButton\" @click=\"send({payload:true})\" color=\"#025b28\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.ptInspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2720,"y":140,"wires":[["30999c85ec739246"]]},{"id":"826925a0ae8a36d7","type":"ui-control","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"","ui":"ec459411017ddf37","events":"change","x":3080,"y":180,"wires":[[]]},{"id":"2f7ec0bae3004642","type":"function","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"initShow","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-pressure-temp:pressTempInspect1\",\n            \"ncd-pressure-temp:pressTempInspect2\",\n            \"ncd-pressure-temp:pressTempInspect3\",\n            \"ncd-pressure-temp:ptTemperatureChartF\",\n            \"ncd-pressure-temp:ptTemperatureGroupF\"\n        ],\n        show:\n        [\n            \"ncd-pressure-temp:ptPressureGroup\",\n            \"ncd-pressure-temp:ptPressureChart\",\n            \"ncd-pressure-temp:ptTemperatureGroup\",\n            \"ncd-pressure-temp:ptTemperatureChart\",\n            \"ncd-pressure-temp:ptBatteryGroup\",\n            \"ncd-pressure-temp:ptBatteryChart\"\n        ],\n        enable:\n        [\n            \"ncd-pressure-temp:pressTempSelectMac\",\n            \"ncd-pressure-temp:pressTempDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2920,"y":220,"wires":[["826925a0ae8a36d7"]]},{"id":"6b73db9f1c30107b","type":"ui-event","z":"342a57a3a95bc755","g":"4137eb3917873f87","ui":"ec459411017ddf37","name":"","x":2770,"y":180,"wires":[["2f7ec0bae3004642"]]},{"id":"9880f7eaa35be521","type":"inject","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":2745,"y":260,"wires":[["457f8fef894073b6"]],"l":false},{"id":"457f8fef894073b6","type":"change","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"","rules":[{"t":"delete","p":"ptMAC","pt":"flow"},{"t":"delete","p":"ptmacSelection","pt":"flow"},{"t":"delete","p":"ptDateDownloadFile","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2805,"y":260,"wires":[["2f7ec0bae3004642","00d6596eaa521e45"]],"icon":"font-awesome/fa-remove","l":false},{"id":"00d6596eaa521e45","type":"link out","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"link out 105","mode":"link","links":["3de3852ccd0bc831","88bd0e133982a763","24f947a9d4603823","5c757cdbff4292e3"],"x":2875,"y":260,"wires":[]},{"id":"7d62b55199809bc9","type":"link in","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"link in 149","links":["cafddb316afb0437","3cb84e6e5bf8226f"],"x":2965,"y":180,"wires":[["826925a0ae8a36d7"]]},{"id":"274877d759fab6a9","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 150","links":["d8bb10a453ebb290","ae6e3d899a78b559"],"x":2655,"y":620,"wires":[["90bd7ace5e6abdec"]]},{"id":"0732722e34decd7a","type":"ui-text","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"12fac032a557caeb","order":1,"width":"10","height":"1","name":"ptPressure","label":"Pressure (PSI)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#333d5e","className":"ptTitlesText","x":2850,"y":620,"wires":[]},{"id":"90bd7ace5e6abdec","type":"change","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2705,"y":620,"wires":[["ae0e9ba21968d7fd"]],"l":false},{"id":"24f947a9d4603823","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 151","links":["00d6596eaa521e45","776e48f496171d26"],"x":2705,"y":660,"wires":[["02dfb4b86aca2e10","ae0e9ba21968d7fd"]]},{"id":"02dfb4b86aca2e10","type":"ui-chart","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"12fac032a557caeb","name":"ptPressureChart","label":"","order":2,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"pressure","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"6","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#025b28","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"2","className":"ptMainCharts","x":2860,"y":700,"wires":[[]]},{"id":"f2b8c705e0fe7c75","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 152","links":["d8bb10a453ebb290","e81bdd7750c594e2"],"x":2705,"y":700,"wires":[["02dfb4b86aca2e10"]]},{"id":"ae0e9ba21968d7fd","type":"ui-template","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"642d269df4bf6e1f","page":"","ui":"","name":"ptPressureGauge","order":3,"width":"0","height":"0","head":"","format":"<script>\n    export default{\n        data(){\n            return {\n                //define me here\n                min:0,\n                max:10000,\n                unit:\"PSI\",\n                label:\"\",\n                measurement:\"Pressure\",\n                updateLabel:\"\",\n                divisors:{major:5,minor:4},\n                sectors:[{start:0,end:2000,color:\"skyblue\"},{start:2000,end:6500,color:\"green\"},{start:6500,end:10000,color:\"red\"}],\n                showUpdate:true,\n                allowOverflow:true,\n                valueDecimalPlaces: 1,\n                majorDecimalPlaces:0,\n                \n                //no need to change\n                value:0,\n                updateTime:0                             \n            }\n        }\n    }\n</script>\n<template>\n    <div class=\"hn-sng\">\n        <div class=\"label\">{{label}}</div>\n        <svg ref=\"hn-gauge\" width=\"100%\" height=\"100%\" viewBox=\"0 0 100 100\">\n            <g>\n                <path v-for=\"(item, index) in sectors\" :key=\"index\" :ref=\"'sector-' + index\" class=\"sector\"\n                    stroke-width=\"5\" d=\"M 10 90 A 47.5 47.5 25 1 1 90 90\"></path>\n            </g>\n            <g>\n                <path class=\"tick-minor\" :style=\"{'stroke-dasharray':minor }\" pathLength=\"492\" stroke-width=\"5\" d=\"M 10 90 A 47.5 47.5 25 1 1 90 90\" ></path>\n                <path ref=\"arc\" class=\"tick-major\" :style=\"{'stroke-dasharray':major }\" pathLength=\"246\" stroke-width=\"5\" d=\"M 10 90 A 47.5 47.5 25 1 1 90 90\"></path>\n            </g>\n            <g>\n                <text v-for=\"(item, index) in numbers\" :key=\"index\" class=\"num\" text-anchor=\"middle\" y=\"-37\"\n                    :style=\"`rotate: ${item.r}deg;`\">{{item.n}}</text>\n            </g>\n            <g>\n                <text class=\"measurement\" y=\"48\" x=\"50%\" text-anchor=\"middle\">{{measurement}}</text>\n                <text class=\"unit\" y=\"75\" x=\"50%\" text-anchor=\"middle\">{{unit}}</text>\n            </g>\n            <g ref=\"o-needle\" class=\"o-needle\">\n                <path d=\"M 0,0 -1.5,0 -0.15,-43 0.15,-43 1.5,0 z\"></path>\n                <circle cx=\"0\" cy=\"0\" r=\"3\"></circle>\n            </g>\n            <g>\n            <p class=\"value\">{{formattedValue}}</p>\n            </g>\n        </svg>\n    </div>\n</template>\n\n<script>\n    export default{       \n        methods:{\n            getElement: function(name,base){\n                if(base){\n                    return this.$refs[name]\n                }\n                return this.$refs[name][0]\n            },\n            validate: function(data){\n                let ret                \n                if(typeof data !== \"number\"){\n                    ret = parseFloat(data)\n                    if(isNaN(ret)){\n                        console.log(\"BAD DATA! gauge id:\",this.id,\"data:\",data)\n                        return null\n                    }\n                }                    \n                else{\n                    ret = data\n                }                \n                return ret\n            },\n            range:function (n, p, r) {           \n                if (p.maxIn > p.minIn) {\n                    n = Math.min(n, p.maxIn)\n                    n = Math.max(n, p.minIn)\n                } else {\n                    n = Math.min(n, p.minIn)\n                    n = Math.max(n, p.maxIn)\n                }\n                if(r){\n                    return Math.round(((n - p.minIn) / (p.maxIn - p.minIn) * (p.maxOut - p.minOut)) + p.minOut);\n                }\n                return ((n - p.minIn) / (p.maxIn - p.minIn) * (p.maxOut - p.minOut)) + p.minOut;\n            },\n            generateNumbers:function(min,max){               \n               \n                let nums = []\n                let t = (max - min) / this.divisors.major;\n                let i = min;\n                let ro = -123\n                let rp = 246 / this.divisors.major\n               \n                for (let e = 0; e < this.divisors.major + 1; ++e){\n                    if(this.min > this.max){\n                        nums.unshift({n: i.toFixed(this.majorDecimalPlaces),r: ro + (e * rp) })\n                    }\n                    else{\n                        nums.push({n: i.toFixed(this.majorDecimalPlaces),r: ro + (e * rp) })\n                    }\n                    \n                    i = parseFloat(i + t);                   \n                }\n                return nums \n            },\n            sectorData:function(full){  \n\n                let ret = []\n                this.sectors.forEach((sector,idx) => {\n                    let sec = {name:'sector-'+idx,color:sector.color}\n                    const params = {minIn:this.min, maxIn:this.max, minOut:0, maxOut:full}\n                    const start = this.range(sector.start,params,false)\n                    const end = this.range(sector.end,params,false)\n                    const pos = Math.min(start, end)\n                    const span = Math.max(start, end) - pos\n                    sec.css = `0 ${pos} ${span} var(--dash)`\n                    ret.push(sec)\n                })\n                return ret\n            },\n            rotation:function(v){\n                const overflow = this.allowOverflow ? (this.max-this.min) * 0.1 : 0\n                const maxRotation = this.allowOverflow ? (123 * 1.2) : 123\n                const min = this.min - overflow\n                const max = this.max + overflow\n                const params = {minIn:min, maxIn:max, minOut:-maxRotation, maxOut:maxRotation};\n                if (v === null) {\n                    v = Math.min(min, max)\n                }\n                return this.range(v,params,false) +'deg'          \n            }\n\n        },\n        watch: {\n            msg: function(){\n                if(this.msg.payload != undefined){\n                    this.value = this.validate(this.msg.payload)\n                    this.updateTime = Date.now()                    \n                    this.getElement('o-needle',true).style.rotate = this.rotation(this.value)                    \n                }\n            }\n        },\n        computed: {\n            formattedValue: function () {\n                return this.value !== null ? this.value.toFixed(this.valueDecimalPlaces) : \"---\"\n            },\n            formattedUpdate:function (){\n                return this.updateLabel+\" \"+this.time\n            },\n            time:function(){\n                return new Intl.DateTimeFormat('default', {hour: 'numeric', minute: 'numeric',second: 'numeric'}).format(this.updateTime);\n            },\n            numbers:function(){\n                return this.generateNumbers(this.min,this.max)\n            },\n            major:function(){\n                return \"2,\" + ((246 / this.divisors.major)-2)           \n            },\n            minor:function(){\n                let step = 492 / this.divisors.major / this.divisors.minor\n                let line = \"0,\" + step + \",\"\n                step --\n                for(let i=0;i<this.divisors.minor-1;++i){\n                    line += \"1,\"+step+\",\"\n                }\n                line = line.slice(0, -1);\n\n                return line\n            },\n            offset:function(){\n                return -1\n            }\n\n        },\n        mounted(){\n           \n            const dal = this.getElement('arc',true).getTotalLength()\n            const sec = this.sectorData(dal)              \n            const gauge = this.getElement('hn-gauge',true)\n            gauge.style.setProperty('--dash',dal)\n           \n            sec.forEach(s =>{\n                const sector = this.getElement(s.name,false)\n                sector.style.setProperty(\"stroke-dasharray\",s.css)\n                sector.style.setProperty(\"stroke\",s.color)\n            })\n            this.getElement('o-needle',true).style.rotate = this.rotation(null)\n            this.$nextTick(() => {\n                this.getElement('o-needle',true).style.transition= \"rotate .5s\"\n            })\n            \n\n        }\n\n    }\n</script>\n<style>\n    .hn-sng {\n        position: relative;\n        top: -50px !important;\n    }\n\n    .hn-sng .label {\n        position: absolute;\n        font-size: 1rem;\n        color: currentColor;\n        text-align: center;\n        width: 100%;\n        overflow: hidden;\n        white-space: nowrap;\n        text-overflow: ellipsis;\n    }\n\n    .hn-sng .value {\n        position: relative;\n        top: -30px;\n        border-style: solid;\n        border-radius: 30px;\n        color: #025b28;\n    }\n    p {\n        text-align: center !important;\n        font-size: 45px;\n        font-weight: bold;\n    }\n\n    .hn-sng .unit {\n        fill: currentColor;\n        font-size: 0.6rem;\n        font-weight: bold;\n    }\n\n    .hn-sng .measurement {\n        fill: currentColor;\n        font-size: 0.7rem;\n    }\n\n    .hn-sng .update {\n        fill: currentColor;\n        fill-opacity: 0.6;\n        font-size: 0.35rem;\n    }\n\n    .hn-sng .num {\n        transform-origin: center 64%;\n        transform: translate(50%, 64%);\n        fill: currentColor;\n        fill-opacity: 0.6;\n        font-size: .35rem;\n    }\n\n    .hn-sng .tick-minor {       \n        stroke-dashoffset: 0.5;\n        fill: none;\n        stroke: currentColor;\n        stroke-opacity: 0.6;\n    }\n\n    .hn-sng .tick-major {\n        stroke-dashoffset: 1;\n        fill: none;\n        stroke: currentColor;\n    }\n\n    .hn-sng .sector {\n        fill: none;\n        stroke: transparent;\n    }\n    .hn-sng .sector:first-of-type {\n        stroke-dashoffset:-0.5;\n    }\n\n    .hn-sng .o-needle {\n        transform-origin: center 64%;\n        transform: translate(50%, 64%);\n        transition: unset;\n    }\n\n    .hn-sng .o-needle path,\n    .hn-sng .o-needle circle {\n        fill: currentColor;\n    }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2870,"y":660,"wires":[[]]},{"id":"b96de21d16e73a29","type":"ui-template","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"bf050064b52d8ced","page":"","ui":"","name":"ptTemperatureCGauge","order":3,"width":"2","height":"2","head":"","format":"<template>\n    <v-progress-circular class=\"ptCircularTempC\" :rotate=\"180\" bg-color=\"#bcebcf\" model-value=\"18\" :size=\"280\" :width=\"25\" color=\"#025b28\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#025b28\" icon=\"mdi-coolant-temperature\"></v-icon>\n                <br>\n            </div>\n            <div class=\"ptScaleTempC\">\n                {{ msg.scale }}°C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.ptCircularTempC{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: -10px;\n}\n.ptScaleTempC{\n    color: #025b28;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3320,"y":640,"wires":[[]]},{"id":"5d4c711a1037c548","type":"range","z":"342a57a3a95bc755","g":"6e934d0610ac3921","minin":"-40","maxin":"85","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3115,"y":640,"wires":[["b96de21d16e73a29"]],"l":false},{"id":"66ec3fc1ae38ca8c","type":"ui-template","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"bf050064b52d8ced","page":"","ui":"","name":"ptSwitchButtonC","order":4,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"ptSwitchButton\" @click=\"send({payload:true})\" color=\"#025b28\" density=\"default\" append-icon=\"mdi-repeat-variant\"> Switch to °F </v-btn>\n</template>\n<style>\n.ptSwitchButton{\n    font-size: 23px;\n    height: 10px;\n    border-radius: 15px;\n    top: 10px;\n    left: 0px; \n    width: 100%;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3300,"y":680,"wires":[["8f4be3aa34aa68c8"]]},{"id":"c056197af9ceb265","type":"ui-text","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"eb47717e07d09df3","order":1,"width":"0","height":"0","name":"ptTemperatureF","label":"Temperature (°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"ptTitlesText","x":3300,"y":800,"wires":[]},{"id":"361c4ef3a213175b","type":"ui-chart","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"eb47717e07d09df3","name":"ptTemperatureFChart","label":"","order":2,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"6","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#025b28","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"2","className":"ptMainCharts","x":3320,"y":920,"wires":[[]]},{"id":"2ee06a338930de75","type":"ui-template","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"699a8ba00284259e","page":"","ui":"","name":"ptTemperatureFGauge","order":3,"width":"2","height":"2","head":"","format":"<template>\n    <v-progress-circular class=\"ptCircularTempF\" :rotate=\"180\" bg-color=\"#bcebcf\" model-value=\"18\" :size=\"280\" :width=\"25\" color=\"#025b28\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#025b28\" icon=\"mdi-coolant-temperature\"></v-icon>\n                <br>\n            </div>\n            <div class=\"ptScaleTempF\">\n                {{ msg.scale }}°F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.ptCircularTempF{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: -10px;\n}\n.ptScaleTempF{\n    color: #025b28;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3320,"y":840,"wires":[[]]},{"id":"8d6fd2070247fb80","type":"ui-template","z":"342a57a3a95bc755","g":"6e934d0610ac3921","group":"699a8ba00284259e","page":"","ui":"","name":"ptSwitchButtonF","order":4,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"ptSwitchButtonF\" @click=\"send({payload:true})\" color=\"#025b28\" density=\"default\" append-icon=\"mdi-repeat-variant\"> Switch to °C </v-btn>\n</template>\n\n<style>\n.ptSwitchButtonF{\n    font-size: 23px;\n    height: 10px;\n    border-radius: 15px;\n    top: 10px;\n    left: 0px; \n    width: 100%;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3300,"y":880,"wires":[["1ffe887d018a4ddf"]]},{"id":"ca30c65e52d8d7a3","type":"function","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"foFahrenheit","func":"let fahrenheit = msg.payload[0].temperature;\nmsg.payload[0].temperature = ((9/5 * fahrenheit) + 32);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3175,"y":920,"wires":[["361c4ef3a213175b"]],"l":false},{"id":"63f77b346456c648","type":"range","z":"342a57a3a95bc755","g":"6e934d0610ac3921","minin":"-40","maxin":"185","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3185,"y":840,"wires":[["2ee06a338930de75"]],"l":false},{"id":"cb4b829e758d1fdc","type":"function","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"foFahrenheit","func":"let fahrenheit = msg.data.sensor_data.temperature;\nmsg.payload = ((9/5 * fahrenheit) + 32).toFixed(2);\nmsg.scale = msg.payload;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3135,"y":840,"wires":[["63f77b346456c648"]],"l":false},{"id":"8f4be3aa34aa68c8","type":"function","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"inspectFunction","func":"let unit = {};\n\nunit = {\n    groups: \n    { \n        show: \n        [\n            \"ncd-pressure-temp:ptTemperatureChartF\",\n            \"ncd-pressure-temp:ptTemperatureGroupF\"\n        ],\n        hide: \n        [\n            \"ncd-pressure-temp:ptTemperatureGroup\",\n            \"ncd-pressure-temp:ptTemperatureChart\"\n        ]\n    } \n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3415,"y":680,"wires":[["cafddb316afb0437"]],"l":false},{"id":"1ffe887d018a4ddf","type":"function","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"inspectFunction","func":"let unit = {};\n\nunit = {\n    groups: \n    { \n        show: \n        [\n            \"ncd-pressure-temp:ptTemperatureChart\",\n            \"ncd-pressure-temp:ptTemperatureGroup\"\n        ],\n        hide: \n        [\n            \"ncd-pressure-temp:ptTemperatureGroupF\",\n            \"ncd-pressure-temp:ptTemperatureChartF\"\n        ]\n    } \n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3445,"y":880,"wires":[["3cb84e6e5bf8226f"]],"l":false},{"id":"4ed80e8bbf5aeb61","type":"change","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":680,"wires":[["b96de21d16e73a29","65741599598acb14"]],"l":false},{"id":"cafddb316afb0437","type":"link out","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link out 106","mode":"link","links":["7d62b55199809bc9"],"x":3465,"y":680,"wires":[]},{"id":"2be6de3d828dae93","type":"link in","z":"342a57a3a95bc755","g":"4137eb3917873f87","name":"link in 153","links":["7731157e04f5b2cd"],"x":2805,"y":220,"wires":[["2f7ec0bae3004642"]]},{"id":"a7f8cc2c571e2dd3","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 154","links":["d8bb10a453ebb290","ae6e3d899a78b559"],"x":3085,"y":840,"wires":[["cb4b829e758d1fdc"]]},{"id":"22ea6bac4f2e1a42","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 155","links":["d8bb10a453ebb290","e81bdd7750c594e2"],"x":3125,"y":920,"wires":[["ca30c65e52d8d7a3"]]},{"id":"5c757cdbff4292e3","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 156","links":["00d6596eaa521e45","776e48f496171d26"],"x":3175,"y":960,"wires":[["361c4ef3a213175b"]]},{"id":"65741599598acb14","type":"link out","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link out 107","mode":"link","links":["ae92d5b99d700db8"],"x":3185,"y":680,"wires":[]},{"id":"ae92d5b99d700db8","type":"link in","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link in 157","links":["65741599598acb14"],"x":3175,"y":880,"wires":[["2ee06a338930de75"]]},{"id":"3cb84e6e5bf8226f","type":"link out","z":"342a57a3a95bc755","g":"6e934d0610ac3921","name":"link out 108","mode":"link","links":["7d62b55199809bc9"],"x":3495,"y":880,"wires":[]},{"id":"f128058ae16939bc","type":"function","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3340,"y":380,"wires":[["71e4967698262b5b"]]},{"id":"bf1d7e387d6d0989","type":"http response","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","statusCode":"","headers":{},"x":3630,"y":380,"wires":[]},{"id":"71e4967698262b5b","type":"file in","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3500,"y":380,"wires":[["bf1d7e387d6d0989"]]},{"id":"148fbdfb0d9e8066","type":"catch","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","scope":["71e4967698262b5b"],"uncaught":false,"x":3190,"y":440,"wires":[["e0b5ac97758ebc63","dc25e14b0ecc0b75","31d6fb91ccf147c6"]]},{"id":"2c509535657f0bcb","type":"http in","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":2710,"y":380,"wires":[["73db1d6e92c2fc1a","7f5b292a948eef99"]]},{"id":"544eefd53d1a9311","type":"change","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"ptDateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3170,"y":380,"wires":[["f128058ae16939bc"]]},{"id":"73db1d6e92c2fc1a","type":"change","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2835,"y":360,"wires":[["16d4125586a15f9d"]],"l":false},{"id":"7f5b292a948eef99","type":"change","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2835,"y":400,"wires":[["329164e46ac6779d"]],"l":false},{"id":"16d4125586a15f9d","type":"switch","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2885,"y":360,"wires":[["2ffda2e1e03e80c4"]],"l":false},{"id":"329164e46ac6779d","type":"switch","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2885,"y":400,"wires":[["507394b51509edb9"]],"l":false},{"id":"2ffda2e1e03e80c4","type":"change","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"ptmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3000,"y":360,"wires":[["544eefd53d1a9311"]]},{"id":"551f078e759da80d","type":"ui-notification","z":"342a57a3a95bc755","g":"4b9280e5d964016e","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":3600,"y":420,"wires":[]},{"id":"e0b5ac97758ebc63","type":"function","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3360,"y":420,"wires":[["1f0b6f391c5104ad"]]},{"id":"1f0b6f391c5104ad","type":"trigger","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3475,"y":420,"wires":[["551f078e759da80d"]],"l":false},{"id":"507394b51509edb9","type":"change","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"ptmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3000,"y":400,"wires":[["544eefd53d1a9311"]]},{"id":"dc25e14b0ecc0b75","type":"http response","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"ptRedirecting","statusCode":"302","headers":{"location":"/dashboard/pressureTemp"},"x":3350,"y":460,"wires":[]},{"id":"31d6fb91ccf147c6","type":"trigger","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3295,"y":500,"wires":[["7731157e04f5b2cd"]],"l":false},{"id":"7731157e04f5b2cd","type":"link out","z":"342a57a3a95bc755","g":"4b9280e5d964016e","name":"link out 104","mode":"link","links":["2be6de3d828dae93"],"x":3355,"y":500,"wires":[]},{"id":"a62c71d56833df2a","type":"ui-text-input","z":"342a57a3a95bc755","g":"5decbec0351188c7","group":"171364bd990aacd5","name":"ptDatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"ptDatePicker","x":3290,"y":260,"wires":[["269ba2f9ebbea689"]]},{"id":"798f887ae7a53647","type":"ui-template","z":"342a57a3a95bc755","g":"5decbec0351188c7","group":"171364bd990aacd5","page":"","ui":"","name":"ptDownload","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd-press-temp.csv\">\n        <v-btn class=\"ptButtonDownload\" color=\"#025b28\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.ptButtonDownload{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3710,"y":260,"wires":[[]]},{"id":"269ba2f9ebbea689","type":"change","z":"342a57a3a95bc755","g":"5decbec0351188c7","name":"","rules":[{"t":"set","p":"ptDateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3500,"y":260,"wires":[[]]},{"id":"f3a8e998fb22ed71","type":"ui-template","z":"342a57a3a95bc755","g":"1a791601f0db8d4d","group":"","page":"05bd0c7c3ec3d021","ui":"","name":"ptStyle","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #bcebcf !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  30px !important;\n    background-color: #43c079 !important;\n    border-color: #43c079  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #43c079 !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #43c079 !important;\n}\n.ptGroupSelectMac .bg-group-background {\n    background-color: #43c079 !important;\n    border-color: #43c079 !important;\n}\n.ptGroupDownload .bg-group-background {\n    background-color: #43c079 !important;\n    border-color: #43c079 !important;\n}\n.ptGroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.ptGroupSelectMac .v-card{\n    height: 92px !important;\n}\n.ptInspectGroup .v-card{\n    height: 1077px !important;\n}\n.ptMainGroups .v-card{\n    height: 380px !important;\n}\n.ptBattGroup .v-card{\n    height: 293px !important;\n}\n.ptDatePicker{\n    top: 12px;\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.ptGroupDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.ptGroupDownload .v-card{\n    height: 155px !important;\n}\n.ptTitlesText .nrdb-ui-text-label{\n    position: absolute;\n    top: 0px !important;\n    font-size: 28px !important;\n    font-weight: bold;\n    color: #025b28;\n}\n.ptMainCharts {\n    position: relative !important;\n    top: -70px !important;\n    height: 370px !important;\n}\n.ptBatteryChart{\n    position: relative !important;\n    top: -70px !important;\n    height: 280px !important;\n}\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":3590,"y":160,"wires":[[]]},{"id":"c63fbf905a1fc625","type":"ui-template","z":"342a57a3a95bc755","g":"1a791601f0db8d4d","group":"","page":"05bd0c7c3ec3d021","ui":"","name":"ptLogo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"vplogo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"black\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.vplogo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3450,"y":160,"wires":[[]]},{"id":"ba736b5642a00dd7","type":"ui-template","z":"342a57a3a95bc755","g":"1a791601f0db8d4d","group":"","page":"05bd0c7c3ec3d021","ui":"","name":"ptProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-wireless-absolute-gauge-pressure-sensor-with-1-4-npt/\" target=\"_blank\">\n        <v-btn class=\"vpInfoButton\" color=\"#025b28\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.vpInfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3290,"y":160,"wires":[[]]},{"id":"a6f6cf946a96d6cd","type":"junction","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","x":1850,"y":1020,"wires":[["af5203da0b98cde8"]]},{"id":"b960fc00e948bb22","type":"junction","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","x":700,"y":680,"wires":[["2ded9e3529992a0a","df2ca470267c2e94"]]},{"id":"4e838bad23c0df73","type":"junction","z":"342a57a3a95bc755","g":"40436d4bfa5f6e2c","x":420,"y":920,"wires":[["638bec0c88fc9400"]]},{"id":"4b9280e5d964016e","type":"group","z":"342a57a3a95bc755","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f128058ae16939bc","bf1d7e387d6d0989","71e4967698262b5b","148fbdfb0d9e8066","2c509535657f0bcb","544eefd53d1a9311","73db1d6e92c2fc1a","7f5b292a948eef99","16d4125586a15f9d","329164e46ac6779d","2ffda2e1e03e80c4","551f078e759da80d","e0b5ac97758ebc63","1f0b6f391c5104ad","507394b51509edb9","dc25e14b0ecc0b75","31d6fb91ccf147c6","7731157e04f5b2cd"],"x":2614,"y":319,"w":1092,"h":222},{"id":"5decbec0351188c7","type":"group","z":"342a57a3a95bc755","name":"","style":{"fill":"none","label":true},"nodes":["a62c71d56833df2a","798f887ae7a53647","269ba2f9ebbea689"],"x":3194,"y":219,"w":612,"h":82},{"id":"1a791601f0db8d4d","type":"group","z":"342a57a3a95bc755","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f3a8e998fb22ed71","c63fbf905a1fc625","ba736b5642a00dd7"],"x":3194,"y":119,"w":472,"h":82},{"id":"6e934d0610ac3921","type":"group","z":"342a57a3a95bc755","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c12969133d8ab215","379301eae2d2a8c9","2347d7db29fae608","9f53ca084599a39f","3c1b95b999c77214","f2f21ef5d6ee2318","5fee4208284afe52","fb5ea93389c36812","f03642d2e7424509","8a43c9ed319c789a","08cf73ee2cbae954","efbda9080c2f6f9e","88bd0e133982a763","cb5d6c97e7426f49","80c1f90eccbbb1f5","e0c0d068010b4d67","776e48f496171d26","274877d759fab6a9","0732722e34decd7a","90bd7ace5e6abdec","24f947a9d4603823","02dfb4b86aca2e10","f2b8c705e0fe7c75","ae0e9ba21968d7fd","b96de21d16e73a29","5d4c711a1037c548","66ec3fc1ae38ca8c","c056197af9ceb265","361c4ef3a213175b","2ee06a338930de75","8d6fd2070247fb80","ca30c65e52d8d7a3","63f77b346456c648","cb4b829e758d1fdc","8f4be3aa34aa68c8","1ffe887d018a4ddf","4ed80e8bbf5aeb61","cafddb316afb0437","a7f8cc2c571e2dd3","22ea6bac4f2e1a42","5c757cdbff4292e3","65741599598acb14","ae92d5b99d700db8","3cb84e6e5bf8226f"],"x":2614,"y":559,"w":1312,"h":442},{"id":"4137eb3917873f87","type":"group","z":"342a57a3a95bc755","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["30999c85ec739246","22b8a17ac5183a77","826925a0ae8a36d7","2f7ec0bae3004642","6b73db9f1c30107b","9880f7eaa35be521","457f8fef894073b6","00d6596eaa521e45","7d62b55199809bc9","2be6de3d828dae93"],"x":2614,"y":99,"w":552,"h":202},{"id":"1587f25018147607","type":"group","z":"342a57a3a95bc755","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["630a627ef2bb018b","911f71ce8743dbc9","f414018cf33dfa8d","850bf592788293fb","75373a8835e16e72","f3aaeda0bfcc9e47","917af6ec641166ed","65a8a181711d9c54","19f404e41885b64d","c5b98a6e60342296","42111ee6dcfb9dda","6f82430ebf62937e","814186649a9f4693","45bc406c496a74e1","e80f84e642366816","8ca1154483df05b6","0c695f4f12dc35c5","b512abc9dfc182d4","23e21af1631c4e73","e41334a365a3aa32","76ac905f2e837ef7","7b4e3cdd6df80e55","27632e9cf6a99a45","64e628ebe1b225ae","26dbbda47cc6cfd4","da234376fb60faf6","5e79e2de13feca83","52f575829ee3e502","57be3f4208c2fa5f","684f076a853c95e2","1bd1d2bf29628eab","bd9ab8613d54fb9b","a837d62824250de6","60dae5dce39a8d36","fd820fbb19a3881e","ee81796ebeda380b","877951630fd90726","ccf0d91b98db76e3","5ad9520c93b02a6f","a6d773d5ebbcf903","a0595c4ba898785e","7a9b32a4703af617","d3027ee91606b489","81bdf325420b6f9a","886eceacfeb31145","7b1acb8c8d3d1bbc","903bc544265fa884","3367bb834ba30a20"],"x":2614,"y":1019,"w":1072,"h":482},{"id":"40436d4bfa5f6e2c","type":"group","z":"342a57a3a95bc755","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ae6e3d899a78b559","d8bb10a453ebb290","e81bdd7750c594e2","af5203da0b98cde8","bf18b5b148a83a9e","6674340e3d149d4b","2d5b40cbef228d82","c507e6b4de4cf3b4","8bf794c2f820f8a4","11109968b3f3f5f8","7164a11548146996","1b61f34b9e796e9b","c8e56db25b05097d","8f32cd82df956c50","743a12b3eee74f01","130a4d60a78e56f0","da01677d8edb9e06","a2279ae51a258c46","8a6731744e89ef1c","ba85cf6c86a6df6e","72617c4a1731326c","6a9ba8e63bde4af0","0adeedadc249b4e6","b84ec1396895f3cd","1daa5069eb0b7a1f","2ded9e3529992a0a","df2ca470267c2e94","78409860ec83082f","6d6f3e41e24b3bbb","b7e7bd18a8dd082f","f84e513ab66e8144","6470054c2de0ca24","67b93f22d7bda83a","08a7f0b38698c736","fb20a718eb5ebabd","758db3749165fcea","4df629bad1b6c288","3fd511b959b3020b","7d07863be7739865","47f21c83b1864ca6","4b6e86640a81548c","83b2391dacdd8305","9edeae36593329ca","aeaa56ebdcd926a4","b55cfab0eff269bc","81a8625186ef1c56","c910096b2164a34b","1d679c9bd5f7895e","07011347754964f9","ca15e8559deeb341","818627f48ba5677f","771c4c8768ef74de","a934e7d369b97a25","d6529dd9e450f132","3de3852ccd0bc831","084229fd6ceef8eb","7f984760231fe3b0","aa3bf7984f0f0665","bbc763fdb3b39346","455ecf55ab9a89fa","638bec0c88fc9400","c34f15470acf3138","08c6506318d2bc58","e628aa86c9290b36","a6f6cf946a96d6cd","b960fc00e948bb22","4e838bad23c0df73"],"x":114,"y":579,"w":2472,"h":502},{"id":"9a70bc053b0aa148","type":"ui-group","name":"pressTempSelectMac","page":"05bd0c7c3ec3d021","width":"6","height":"1","order":1,"showTitle":false,"className":"ptGroupSelectMac","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"edc5d0113391fca2","type":"ui-group","name":"pressTempInspect1","page":"05bd0c7c3ec3d021","width":"4","height":"1","order":11,"showTitle":false,"className":"ptInspectGroup","visible":"true","disabled":"false"},{"id":"23c56968a392be7b","type":"ui-group","name":"pressTempInspect2","page":"05bd0c7c3ec3d021","width":"4","height":"1","order":12,"showTitle":false,"className":"ptInspectGroup","visible":"true","disabled":"false"},{"id":"a9133432be824ae8","type":"ui-group","name":"pressTempInspect3","page":"05bd0c7c3ec3d021","width":"4","height":"1","order":13,"showTitle":false,"className":"ptInspectGroup","visible":"true","disabled":"false"},{"id":"856d1d781dafa88c","type":"ui-group","name":"ptTemperatureChart","page":"05bd0c7c3ec3d021","width":"10","height":"1","order":7,"showTitle":false,"className":"ptMainGroups","visible":"true","disabled":"false"},{"id":"f2adcbf1f7f3deb4","type":"ui-group","name":"ptBatteryChart","page":"05bd0c7c3ec3d021","width":"10","height":"1","order":9,"showTitle":false,"className":"ptBattGroup","visible":"true","disabled":"false"},{"id":"84e640ef86edbf6d","type":"ui-group","name":"ptBatteryGroup","page":"05bd0c7c3ec3d021","width":"2","height":"1","order":10,"showTitle":false,"className":"ptBattGroup","visible":"true","disabled":"false"},{"id":"05bd0c7c3ec3d021","type":"ui-page","name":"ncd-pressure-temp","ui":"ec459411017ddf37","path":"/pressureTemp","icon":"mdi-gauge","layout":"grid","theme":"e01eadf35316cb83","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"12fac032a557caeb","type":"ui-group","name":"ptPressureChart","page":"05bd0c7c3ec3d021","width":"10","height":"1","order":3,"showTitle":false,"className":"ptMainGroups","visible":"true","disabled":"false"},{"id":"642d269df4bf6e1f","type":"ui-group","name":"ptPressureGroup","page":"05bd0c7c3ec3d021","width":"2","height":"1","order":4,"showTitle":false,"className":"ptMainGroups","visible":"true","disabled":"false"},{"id":"bf050064b52d8ced","type":"ui-group","name":"ptTemperatureGroup","page":"05bd0c7c3ec3d021","width":"2","height":"1","order":8,"showTitle":false,"className":"ptMainGroups","visible":"true","disabled":"false"},{"id":"eb47717e07d09df3","type":"ui-group","name":"ptTemperatureChartF","page":"05bd0c7c3ec3d021","width":"10","height":"1","order":5,"showTitle":false,"className":"ptMainGroups","visible":"true","disabled":"false"},{"id":"699a8ba00284259e","type":"ui-group","name":"ptTemperatureGroupF","page":"05bd0c7c3ec3d021","width":"2","height":"1","order":6,"showTitle":false,"className":"ptMainGroups","visible":"true","disabled":"false"},{"id":"171364bd990aacd5","type":"ui-group","name":"pressTempDownload","page":"05bd0c7c3ec3d021","width":"6","height":"1","order":2,"showTitle":false,"className":"ptGroupDownload","visible":"true","disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"46deb2bb254e37ea","type":"subflow:342a57a3a95bc755","z":"0f850dc8977c3d53","name":"","x":2230,"y":1380,"wires":[]}]
